/* ***********************************************  Home CSS ***************************************************** */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: #FCAD98;
    border-bottom:solid 8px #808080;
    font-family: 'Times New Roman', Times, serif;
}

nav h1{
    position: relative;
    top: 0.8rem;
    left: 3rem;
    font-size: 2rem;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: white;
}

nav ul li{
    padding-right: 15px;
}
.home-wrapper .card{
    border: none;
}
.home-wrapper .card .img{
    position: relative;
    text-align: left;
    margin: auto;
    display: flex; 
    width: 20rem;
    height: 15rem;
    background-color: #F5F5F5;
}    

.home-wrapper .content{
    background-color: #000000;
    padding: .5rem 1.55rem 1rem 0;
    color: white;
    width: fit-content;
    position: relative;
    top: 6rem;
    right: 1.27rem;
}

.home-wrapper .content .cyclone-content{
    position: relative;
    left: 1rem;
}

.home-wrapper .content .cyclone-content h4{
    position: relative;
    top: .4rem;
    font-size: 1.2rem;
}

.home-wrapper .content .cyclone-content p{
    position: relative;
    top: .5rem;
    font-size: .7rem;
}

.home-wrapper .second-row{
    position: relative;
    top: 6rem;
}


/* ***********************************************  Intro CSS ***************************************************** */
.bg-intro{
    background-color: #B1B1B1;
}

nav .intro-nav a:hover{
    color: white;
    background-color: #FCAD98;
}

.intro-content{
    position: relative;
    top: 10rem;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

/* ***********************************************  Upload CSS ***************************************************** */

.bg-upload{
    background-color: #F36262;
}

.upload-bg{
    /* background-color: #BBB4BC; */
}

.web-wrapper .bg img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}